# Ігнорування системних файлів
.DS_Store
Thumbs.db

# Ігнорування автогенерованих файлів
*.log
*.cache

# Ігнорування файлів, пов’язаних з редакторами
.idea/
.vscode/
*.sublime-workspace

# Ігнорування налагоджувальних файлів
*.swp
*.tmp

# Ігнорування компільованих та мініфікованих файлів
*.min.js
*.min.css

# Ігнорування npm або Yarn модулів (якщо використовуєте)
node_modules/

# Ігнорування збірок (якщо використовуєте системи збірки)
dist/
build/